<div class="row">
    <ol class="breadcrumb" style="background-color: transparent">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><i class="fa fa-group"></i> Performance Group</li>
    </ol>

</div>
<div class="row " ng-init="pgInit()">
    <div class="col-lg-12">
        <h4> Performance Group Management</h4>
        <div class="under">

            <!-- Button trigger modal -->
            <button class="btn btn-success btn-green btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>
                New Teacher
            </button>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel"> Add new Group</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form1" name="form" role="form" class="form-horizontal form-label-left" novalidate>
                                <div class="row" style="padding-left: 15px;">


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ID">ID <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="ID"  data-ng-model="tID" name="tID"
                                                   integer required ng-model-options="{ updateOn: 'blur' }" minlength="7" data-minlength="7" maxlength="7"
                                                   class="form-control col-md-7 col-xs-12">

                                            <span style="color:red" ng-show="form.tID.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.tID.$touched && form.tID.$invalid">
                                            <span ng-show="form.tID.$error.required">*ID is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.tID.$error.minlength"> *should be 7 digits</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname">Full Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" data-ng-model="name" id="fullname" name="fullname" required class="form-control col-md-7 col-xs-12">
                                            <span style="color:red" ng-show="form.fullname.$touched && form.fullname.$invalid">
                                            <span ng-show="form.fullname.$error.required">*name is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="tgender" name="sgender" required>
                                                <option>MALE</option>
                                                <option>FEMALE</option>

                                            </select>
                                            <span style="color:red" ng-show="form.sgender.$touched && form.sgender.$invalid">
                                            <span ng-show="form.sgender.$error.required">*gender is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Access Level <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="accLevel" name="accLevel" required>
                                                <option>Admin</option>
                                                <option>User</option>

                                            </select>
                                            <span style="color:red" ng-show="form.accLevel.$touched && form.accLevel.$invalid">
                                            <span ng-show="form.accLevel.$error.required">*Access level is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nic">NIC <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input ng-model-options="{ updateOn: 'blur' }" integer type="text" class="form-control" minlength="9" data-minlength="9" maxlength="9"
                                                   id="nic" data-ng-model="nic" name="nic" required>
                                            <span class="form-control-feedback right" aria-hidden="true">V</span>
                                            <span style="color:red" ng-show="form.nic.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.nic.$touched && form.nic.$invalid">
                                            <span ng-show="form.nic.$error.required">*NIC is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.nic.$error.minlength"> *should be 10 digits</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday">Date Of Birth <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="birthday" data-ng-model="dob" name="dob" type="date" class="date-picker form-control col-md-7 col-xs-12" required type="text">
                                            <span style="color:red" ng-show="form.dob.$touched && form.dob.$invalid">
                                            <span ng-show="form.dob.$error.required">*Date of Birth is required.</span>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Telephone <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input ng-model-options="{ updateOn: 'blur' }" integer required class="form-control" name="telePhone"
                                                   data-ng-model="telephone" type="text"
                                                   placeholder="Telephone" minlength="10" data-minlength="10" maxlength="10">
                                            <span style="color:red" ng-show="form.telePhone.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.telePhone.$touched && form.telePhone.$invalid">
                                            <span ng-show="form.telePhone.$error.required">*telephone is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.telePhone.$error.minlength"> *should be 10 digits</span>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control pull-right"
                                                   data-ng-model="address" type="text" placeholder="Address">
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                            <button data-dismiss="modal" onclick="resetForm1()" class="btn btn-default" >Close</button>
                                            <button class="btn btn-success btn-green" type="button"
                                                    data-ng-disabled="!tID || !name || !nic "
                                                    onclick="resetForm1()" data-ng-click=" addTeacher();" data-dismiss="modal"> Add Teacher</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title clearfix">

                <div class="pull-left"> <h5>Registered Teachers ({{Teachers.length}})</h5></div>
                <input class="form-control pull-right" data-ng-model="query" type="text" class="form-control empty" id="iconified" placeholder="&#xF002; Search.." style="width: 180px;height: 30px;font-family:Roboto, FontAwesome">

            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Practice times</th>


                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="repeat-animation" data-ng-repeat="perGroup in perGroups | filter:query">
                            <td>{{perGroup.teacher_ID}}</td>
                            <td>{{perGroup.name}}</td>
                            <td>{{perGroup.gender}}</td>
                            <td>{{perGroup.DOB }}</td>

                            <td><div class="btn-group">
                                <a href="#/members/{{member.NIC}}" class="btn btn-info btn-xs"  style="color: #ffffff" role="button"><i class="fa fa-user"></i> Profile</a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-warning btn-orange btn-xs" ng-click="setNIC(member.NIC);" data-toggle="modal" data-target="#myModal2">
                                    Payment
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel2"> Payment Window</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row" style="padding-left: 15px;">
                                                    <div class="col-lg-9 col-lg-offset-1 form">

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">NIC:</label>

                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="NatIdentity" type="number" placeholder="NIC" readonly>
                                                        </div>

                                                        <div class="row" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm"> Amount: </label>

                                                            <div class="from-group input-group" style="padding-left: 1.7cm">
                                                                <span class="input-group-addon">Rs.</span>
                                                                <input class="form-control"
                                                                       style=" height: 35px" data-ng-model="Bal" type="number" placeholder="payment">
                                                                <span class="input-group-addon">.00 </span>

                                                            </div>
                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Due Date:</label>


                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="DuDate" type="date">

                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Date:</label>


                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="toDate" type="date">

                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Officer:</label>

                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="OffName" type="text" placeholder="Officer Name">
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                <button type="button" ng-click="trans(NatIdentity,Bal,DuDate,toDate,OffName);" class="btn btn-primary btn-sm" > Done</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                                <button type="button" ng-click="deleteMember(member.NIC);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                            </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </div>
    <!-- /.col-lg-12 -->
</div>