<div class="row">
    <ol class="breadcrumb" style="background-color: transparent">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><i class="fa fa-group"></i> Students</li>
    </ol>

</div>
<div class="row " ng-init="stdInit()">
    <div class="col-lg-12">
        <h4> Students Management</h4>
        <div class="under">

            <!-- Button trigger modal -->
            <button class="btn btn-xs btn-success btn-green" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>
                 New Student
            </button>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel"> Add new Student</h4>
                        </div>
                        <div class="modal-body" >
                            <form id="form1" name="form" role="form" class="form-horizontal form-label-left" novalidate>
                                <div class="row" style="padding-left: 15px;">


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ID">ID <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="ID"  data-ng-model="sID" name="sID"
                                                   ng-class="{textred: form.sID.$error.integer || form.sID.$error.minlength || (form.sID.$error.required && form.sID.$invalid && form.sID.$touched)}"
                                                   integer required ng-model-options="{ updateOn: 'blur' }" minlength="7" data-minlength="7" maxlength="7"
                                                   class="form-control col-md-7 col-xs-12">

                                            <span style="color:red" ng-show="form.sID.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.sID.$touched && form.sID.$invalid">
                                            <span ng-show="form.sID.$error.required">*ID is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.sID.$error.minlength"> *should be 7 digits</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname">Full Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input ng-class="{textred: form.fullname.$touched && form.fullname.$invalid }" type="text" data-ng-model="fullname" id="fullname" name="fullname" required="required" class="form-control col-md-7 col-xs-12">
                                            <span style="color:red" ng-show="form.fullname.$touched && form.fullname.$invalid">
                                            <span ng-show="form.fullname.$error.required">*name is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="sgender" name="sgender" required>
                                                <option>MALE</option>
                                                <option>FEMALE</option>

                                            </select>
                                            <span style="color:red" ng-show="form.sgender.$touched && form.sgender.$invalid">
                                            <span ng-show="form.sgender.$error.required">*gender is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Access Level <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="accLevel" name="accLevel" required>
                                                <option>Admin</option>
                                                <option>User</option>

                                            </select>
                                            <span style="color:red" ng-show="form.accLevel.$touched && form.accLevel.$invalid">
                                            <span ng-show="form.accLevel.$error.required">*Access level is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Course <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select  class="form-control" data-ng-model="course" name="course" required>
                                                <option data-ng-repeat="crs in Courses" value="{{crs.course_ID}}"> {{crs.title}}</option>
                                                <!--<option> dummycourse2</option>-->

                                            </select>
                                            <span style="color:red" ng-show="form.course.$touched && form.course.$invalid">
                                            <span ng-show="form.course.$error.required">*course is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="birthday" data-ng-model="dob" name="dob" type="date" class="date-picker form-control col-md-7 col-xs-12" required type="text">
                                            <span style="color:red" ng-show="form.dob.$touched && form.dob.$invalid">
                                            <span ng-show="form.dob.$error.required">*Date of Birth is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Performance Group ID <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="perGroup" name="perGroup" required>
                                                <option data-ng-repeat="grp in Groups" value="{{grp.group_ID}}"> {{grp.group_ID}}</option>

                                            </select>
                                            <span style="color:red" ng-show="form.perGroup.$touched && form.perGroup.$invalid">
                                            <span ng-show="form.perGroup.$error.required">*Performance Group ID is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Telephone <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input integer ng-model-options="{ debounce: 500 }" required class="form-control" name="telePhone"
                                                   data-ng-model="telephone" type="text"
                                                   placeholder="Telephone" minlength="10" data-minlength="10" maxlength="10">
                                            <span style="color:red" ng-show="form.telePhone.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.telePhone.$touched && form.telePhone.$invalid">
                                            <span ng-show="form.telePhone.$error.required">*telephone number is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.telePhone.$error.minlength"> *should be 10 digits</span>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address* </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control pull-right"
                                                   data-ng-model="address" type="text" placeholder="Address" required>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">has a cousin <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                            <select class="form-control" id="cousin" data-ng-model="cousin" name="cousin" ng-options="choice == 'no' as choice for choice in ['yes', 'no']" required>
                                            </select>
                                            <span style="color:red" ng-show="form.cousin.$touched && form.cousin.$invalid">
                                            <span ng-show="form.cousin.$error.required">*field is empty.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div ng-show="!cousin && form.cousin.$dirty" ng-hide="cousin || !form.cousin.$dirty" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cousinID"> cousin ID <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="cousinID"  data-ng-model="cID" name="cID"
                                                   ng-class="{textred: form.cID.$error.integer || form.cID.$error.minlength || (form.cID.$error.required && form.cID.$invalid && form.cID.$touched)}"
                                                   integer required ng-model-options="{ updateOn: 'blur' }" minlength="7" data-minlength="7" maxlength="7"
                                                   class="form-control col-md-7 col-xs-12">

                                            <span style="color:red" ng-show="form.cID.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.cID.$touched && form.cID.$invalid">
                                            <span ng-show="form.cID.$error.required">*ID is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.cID.$error.minlength"> *should be 7 digits</span>
                                        </div>
                                    </div>

                                    <div ng-show="cousin && form.cousin.$dirty" ng-hide="!cousin || !form.cousin.$dirty" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentID"> parent NIC <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="parentID"  data-ng-model="pID" name="pID"
                                                   ng-class="{textred: form.pID.$error.integer || form.pID.$error.minlength || (form.pID.$error.required && form.pID.$invalid && form.pID.$touched)}"
                                                   integer required ng-model-options="{ updateOn: 'blur' }" minlength="9" data-minlength="9" maxlength="9"
                                                   class="form-control col-md-7 col-xs-12">

                                            <span style="color:red" ng-show="form.pID.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.pID.$touched && form.pID.$invalid">
                                            <span ng-show="form.pID.$error.required">*ID is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.pID.$error.minlength"> *should be 7 digits</span>
                                        </div>
                                    </div>

                                    <div ng-show="cousin && form.cousin.$dirty" ng-hide="!cousin || !form.cousin.$dirty" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname">Parent Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input ng-class="{textred: form.fullname.$touched && form.fullname.$invalid }"
                                                   type="text" data-ng-model="pname" id="pname" name="pname" required="required" class="form-control col-md-7 col-xs-12">
                                            <span style="color:red" ng-show="form.pname.$touched && form.pname.$invalid">
                                            <span ng-show="form.pname.$error.required">*name is required.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-show="cousin && form.cousin.$dirty" ng-hide="!cousin || !form.cousin.$dirty" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" data-ng-model="pgender" name="pgender" required>
                                                <option>MALE</option>
                                                <option>FEMALE</option>

                                            </select>
                                            <span style="color:red" ng-show="form.pgender.$touched && form.pgender.$invalid">
                                            <span ng-show="form.pgender.$error.required">*gender is required.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div ng-show="cousin && form.cousin.$dirty" ng-hide="!cousin || !form.cousin.$dirty" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Parent telephone <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input integer ng-model-options="{ debounce: 500 }" required class="form-control" name="ptelePhone"
                                                   data-ng-model="ptelephone" type="text"
                                                   placeholder="Telephone" minlength="10" data-minlength="10" maxlength="10">
                                            <span style="color:red" ng-show="form.ptelePhone.$error.integer"> *should be a number</span>
                                            <span style="color:red" ng-show="form.ptelePhone.$touched && form.ptelePhone.$invalid">
                                            <span ng-show="form.ptelePhone.$error.required">*telephone number is required.</span>
                                            </span>
                                            <span style="color:red" ng-show="form.ptelePhone.$error.minlength"> *should be 10 digits</span>
                                        </div>

                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                            <button data-dismiss="modal" onclick="resetForm1()" class="btn btn-default" >Close</button>
                                            <button class="btn btn-success" type="button"
                                                    data-ng-disabled="!sID || !fullname || !sgender || !dob || !course || !accLevel || !sgender || !perGroup || !address"
                                                    onclick="new PNotify({
                                                                title: 'Successfull',
                                                                text: 'Data was added',
                                                                type: 'success'
                                                            });resetForm1();"
                                                    data-ng-click=" addStudent(); addParent();" data-dismiss="modal"> Add Student</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>





                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>

        <div class="x_panel" ng-controller="StudentsCtrl">
            <div class="x_title clearfix">

                <div class="pull-left"> <h5>Registered Students ({{Students.length}})</h5> </div>
                <input class="form-control pull-right" data-ng-model="query" type="text" class="form-control empty" id="iconified" placeholder="&#xF002; Search.." style="width: 180px;height: 30px;font-family:Roboto, FontAwesome">

            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>course ID</th>
                            <th>performance group ID</th>
                            <!--<th>phone numbers</th>-->
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="repeat-animation" data-ng-repeat="student in Students | filter:query">
                            <td>{{student.ID}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{student.DOB }}</td>
                            <td>{{student.course_ID}}</td>
                            <td>{{student.performance_group_ID }}</td>
                            <!--<td>-->
                            <!--<ul ng-init="nums = findTelNums(student.ID)">-->
                            <!--<li>{{nums[0]}}</li>-->
                            <!--</ul>-->

                            <!--</td>-->
                            <td><div class="btn-group">
                                <a href="#/members/{{member.NIC}}" class="btn btn-info btn-xs"  style="color: #ffffff" role="button"><i class="fa fa-user"></i> Profile</a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-warning btn-orange btn-xs" ng-click="setNIC(member.NIC);" data-toggle="modal" data-target="#myModal2">
                                    Payment
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel2"> Payment Window</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row" style="padding-left: 15px;">
                                                    <div class="col-lg-9 col-lg-offset-1 form">

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">NIC:</label>

                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="NatIdentity" type="number" placeholder="NIC" readonly>
                                                        </div>

                                                        <div class="row" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm"> Amount: </label>

                                                            <div class="from-group input-group" style="padding-left: 1.7cm">
                                                                <span class="input-group-addon">Rs.</span>
                                                                <input class="form-control"
                                                                       style=" height: 35px" data-ng-model="Bal" type="number" placeholder="payment">
                                                                <span class="input-group-addon">.00 </span>

                                                            </div>
                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Due Date:</label>


                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="DuDate" type="date">

                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Date:</label>


                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="toDate" type="date">

                                                        </div>

                                                        <div class="row from-group" style="padding-bottom: 5px">
                                                            <label class="pull-left" style="padding-left: 1cm">Officer:</label>

                                                            <input class="form-control pull-right"
                                                                   style="width: 300px; height: 35px" data-ng-model="OffName" type="text" placeholder="Officer Name">
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                <button type="button" ng-click="trans(NatIdentity,Bal,DuDate,toDate,OffName);" class="btn btn-primary btn-sm" > Done</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                                <button type="button" ng-click="deleteMember(member.NIC);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
                            </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </div>
    <!-- /.col-lg-12 -->
</div>