<!-- page content -->
<div role="main">

    <br />
    <div class="">

        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-group"></i>
                    </div>
                    <div class="count">{{Students2.length}}</div>

                    <h3>Students</h3>

                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user"></i>
                    </div>
                    <div class="count">{{Teachers2.length}}</div>

                    <h3>Teachers</h3>

                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-music"></i>
                    </div>
                    <div class="count">{{Instruments2.length}}</div>

                    <h3>Instruments</h3>

                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-book"></i>
                    </div>
                    <div class="count">{{Courses2.length}}</div>

                    <h3> Courses</h3>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Instruments Summary </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div >
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Instrument Name</th>
                                        <th>ID</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="repeat-animation" data-ng-repeat="i2 in Instruments2 | filter:query">
                                        <td>{{i2.name}}</td>
                                        <td>{{i2.instrument_ID}}</td>


                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Courses Summary </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div >
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>course</th>
                                        <th>Teacher</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="repeat-animation" data-ng-repeat="c2 in Courses2 | filter:query">
                                        <td>{{c2.title}}</td>
                                        <td>{{c2.teacherID}}</td>


                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Teachers Summary </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div >
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th> Name</th>
                                        <th> ID</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="repeat-animation" data-ng-repeat="t2 in Teachers2 | filter:query">
                                        <td>{{t2.name}}</td>
                                        <td>{{t2.teacher_ID}}</td>


                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>








    </div>



</div>
<!-- /page content -->