<div>

    <div id="wrapper">

            <div class="login_content">

                <form>
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="index.html">Log in</a>

                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i style="font-size: 26px;"></i> MUSIC SCHOOL</h1>
                        <p>Semester 4 Database systems project</p>
                        <img style="height: 200px" src="images/login%20art.png">
                    </div>




                </form>
                <!-- form -->

            </div>
            <!-- content -->

        </div>

    </div>
</div>