<div class="col-md-3 left_col" style="position: fixed">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-music"></i> <span> Music School</span></a>
        </div>
        <div class="clearfix"></div>



        <div class="profile">
            <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Nadun Indunil</h2>
            </div>
        </div>


        <br />


        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>

                <ul class="nav side-menu">
                    <sidebar-search></sidebar-search>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li ui-sref-active="active">

                        <a ui-sref="dashboard.students"><i class="fa fa-group fa-fw"></i> Students<span></span></a>

                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li ng-class="{active: collapseVar==1}">{{dropDown}}
                        <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level child_menu" collapse="collapseVar!=1">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.buttons">Buttons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.notifications">Notifications</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.typography">Typography</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.icons"> Icons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.grid">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-class="{active: collapseVar==2}">
                        <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level child_menu" collapse="collapseVar!=2">
                            <li>
                                <a href="">Second Level Item</a>
                            </li>
                            <li>
                                <a href="">Second Level Item</a>
                            </li>
                            <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                                <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level child_menu" collapse="multiCollapseVar!=3">
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>

                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-class="{active:collapseVar==4}">
                        <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level child_menu" collapse="collapseVar!=4">
                            <li ng-class="{active: selectedMenu=='blank'}">
                                <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                            </li>
                            <li>
                                <a ui-sref="login">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>


        </div>

        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>

    </div>
</div>










